header {
    color: white;
}

body {
    background-color: #959595;
}

.helper-button {
    display: none;
}

.helper-field {
    width: 15%;
    color: white;
}

.query-helper {
    padding-top: 10px;
}